.section {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 100px 5px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .title {
    text-align: center;
    font-weight: 600;
    font-size: 60px;
    line-height: 125%;
    letter-spacing: 0.03em;

    .titleAccent {
      font-style: italic;
      color: var(--text-accent);
    }
  }

  .carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .arrow {
      width: 60px;
      height: 60px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--border-primary);
      border-radius: 50%;
      background: transparent;
      color: var(--text-primary);
      transition:
        background-color 0.2s ease,
        color 0.2s ease;

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background: var(--background-container);
          color: var(--text-inverse);
          cursor: pointer;
        }
      }
    }

    .card {
      max-width: 480px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .image {
        width: 480px;
        height: 480px;
        object-fit: contain;
        margin-bottom: 20px;
      }

      .name {
        font-weight: 600;
        font-size: 24px;
        line-height: 125%;
        letter-spacing: 0.01em;
      }

      .description {
        max-width: 480px;
        margin: 16px 0 0;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.01em;
      }

      .price {
        margin: 16px 0 0;
        font-weight: 600;
        font-size: 24px;
        line-height: 125%;
      }
    }
  }

  .progress {
    display: flex;
    gap: 8px;
    justify-content: center;

    .progressItem {
      width: 40px;
      height: 4px;
      border-radius: 100px;
      background: var(--border-primary);

      &.progressItemActive {
        background: var(--text-primary);
      }
    }
  }
}
