.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  .navList {
    display: flex;
    gap: 40px;

    @media screen and (width <= 1024px) {
      gap: clamp(10px, calc(5px + (100vw - 769px) * 35 / 255), 40px);
    }

    @media screen and (width <= 768px) {
      flex-direction: column;
      align-items: center;
      gap: 60px;
    }

    @media screen and (width <= 768px) and (height <= 750px) {
      gap: clamp(50px, calc(50px + (100vh - 650px) * 10 / 100), 60px);
    }

    @media screen and (width <= 768px) and (height <= 650px) {
      gap: clamp(45px, calc(45px + (100vh - 600px) * 5 / 50), 50px);
    }

    .navItem {
      list-style-type: none;
      height: 28px;

      @media screen and (width <= 768px) {
        height: 40px;
      }

      .navLink {
        text-decoration: none;
        color: var(--text-primary);
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        position: relative;
        letter-spacing: 0.01em;

        @media screen and (width <= 768px) {
          font-size: 32px;
          line-height: 125%;
        }

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -4px;
          width: 100%;
          height: 2px;
          background-color: var(--text-primary);
          transform: scaleX(0);
          transform-origin: center;
          transition: transform 0.3s ease;
        }

        @media (hover: hover) and (pointer: fine) {
          &:hover::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}
