.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  .navList {
    display: flex;
    gap: 40px;

    .navItem {
      list-style-type: none;

      .navLink {
        text-decoration: none;
        color: var(--color-primary);
        font-weight: 600;
      }
    }
  }
}
